#app{
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	overflow-x: hidden;
	overflow-y:auto;
}
.login-page{	
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}
.login-box{
	margin: 0 auto;
	position: absolute;
	top: 15%;
	left: 50%;
	transform:translateX(-50%);	
}